{% trans_default_domain 'App' %}
<table class="table table-bordered table-responsive-md" id="typ_parametru-tabela">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>{{ 'Nazwa'|trans }}</th>
        <th>{{ 'Symbol'|trans }}</th>
        <th>{{ 'Typ.danych.1'|trans }}</th>
        <th>{{ 'Jednostka.miary'|trans }}</th>
        {% if is_granted('ROLE_ADMIN') %}
            <th>{{ 'Akcje'|trans }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for typ in lista %}
        {% set typJson = typ|json_encode|raw %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ typ.nazwa }}</td>
            <td>{{ typ.symbol }}</td>
            <td>{{ typ.typDanych|trans([],'TypDanych') }}</td>
            <td>{{ typ.jednostkaMiary }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-fw fa-cogs"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0)" onclick='Edytuj({{ typJson }})'>
                            <i class="fas fa-fw fa-edit"></i>
                            {{ 'Edytuj'|trans }}
                        </a>
                        <a class="dropdown-item {% if not typ.grupyObiektow.isEmpty() %}disabled{% endif %}" href="javascript:void(0)" onclick='Usun({{ typJson }})'>
                            <i class="fas fa-fw fa-trash"></i>
                            {{ 'Usun'|trans }}
                        </a>
                    </div>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $("#typ_parametru-tabela").DataTable();
</script>