{% extends 'base.html.twig' %}
{% trans_default_domain 'App' %}
{% block title %}{{ 'Zarejestruj.sie'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header p-0">
                        <h3 class="text-center font-weight-light my-4">{{ 'Stworz.konto'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.username, {attr: {class: 'py-4', placeholder: 'Wprowadz.uzytkownika'|trans}, label_attr: {class: 'small mb-1'}}) }}
                        {{ form_row(form.email, {attr: {class: 'py-4', placeholder: 'Wprowadz.email'|trans}, label_attr: {class: 'small mb-1'}}) }}
                        {{ form_row(form.plainPassword.pass, {attr: {class: 'py-4', placeholder: 'Wprowadz.haslo'|trans}, label_attr: {class: 'small mb-1'}}) }}
                        {{ form_row(form.plainPassword.confirm, {attr: {class: 'py-4', placeholder: 'Powtorz.haslo'|trans}, label_attr: {class: 'small mb-1'}}) }}
                        <div class="form-group mt-4 mb-0">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'Zarejestruj'|trans }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a href="{{ path('app_login') }}">{{ 'Masz.juz.konto.zaloguj'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
