{% trans_default_domain 'App' %}
<table class="table table-bordered table-responsive-md w-100" id="grupa_obiektow-tabela">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>{{ 'Nazwa'|trans }}</th>
        <th>{{ 'Symbol'|trans }}</th>
        <th>{{ 'Akcje'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for grupa in lista %}
        {% set grupaJson = grupa|json_encode|raw %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ grupa.nazwa }}</td>
            <td>{{ grupa.symbol }}</td>
            <td>
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-fw fa-cogs"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" onclick='Szczegoly({{ grupaJson }})'>
                        <i class="fas fa-fw fa-info-circle"></i>
                        {{ 'Szczegoly'|trans }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick='Edytuj({{ grupaJson }})'>
                        <i class="fas fa-fw fa-edit"></i>
                        {{ 'Edytuj'|trans }}
                    </a>
                    <a class="dropdown-item {% if not grupa.obiekty.isEmpty() %}disabled{% endif %}" href="javascript:void(0)" onclick='Usun({{ grupaJson }})'>
                        <i class="fas fa-fw fa-trash"></i>
                        {{ 'Usun'|trans }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $("#grupa_obiektow-tabela").DataTable();
</script>