{% trans_default_domain 'App' %}
{% set theme = 'light' %}
<!DOCTYPE html>
<html lang="{{ app.request.preferredLanguage }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'Ewidencja.obiektow'|trans }}{% endblock %}</title>
    {{ encore_entry_link_tags(theme == 'dark' ? 'dark-theme' : 'light-theme') }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('sidebar') }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags(theme == 'dark' ? 'dark-theme' : 'light-theme') }}
    {{ encore_entry_script_tags('sidebar') }}
</head>
<body>
{% if is_granted('ROLE_USER') %}
    {% include 'navigation.html.twig' %}
{% endif %}
<div class="d-flex">
    {% if is_granted('ROLE_USER') %}
        {% include 'sidebar.html.twig' %}
    {% endif %}
    <div id="wrapper" class="d-flex flex-row">
        {% block body %}
            <h1>Jebać PiS</h1>
        {% endblock %}
    </div>
</div>

{% include 'foot.assets.html.twig' %}
{% block javascripts %}
{% endblock %}
</body>
</html>
