{% trans_default_domain 'App' %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">{{ 'Nawigacja'|trans }}</div>
                <a class="nav-link" href="{{ path('obiekt_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-fw fa-map-marker-alt"></i></div>
                    {{ 'Obiekty'|trans }}
                </a>
                <div class="sb-sidenav-menu-heading">{{ 'Slowniki'|trans }}</div>
                <a class="nav-link" href="{{ path('typ_parametru_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-fw fa-certificate"></i></div>
                    {{ 'Typy.parametrow'|trans }}
                </a>
                <a class="nav-link" href="{{ path('grupa_obiektow_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-fw fa-layer-group"></i></div>
                    {{ 'Grupy.obiektow'|trans }}
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">{{ 'Zalogowany.jako'|trans }}</div>
            {{ app.user.username }}
        </div>
    </nav>
</div>
