{% trans_default_domain 'App' %}
    {{ form_start(form) }}
<div class="row">
    <div class="col-lg-5">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.nazwa) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.symbol) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img id="image-preview" alt="image preview" class="d-none" style="max-height: 150px;"/>
            </div>
            <div class="col-12">
                {{ form_row(form.imgFile) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.grupa) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="obiekt-parametry-content" data-prototype="{{ form_row(form.parametry.vars.prototype)|e('html_attr') }}">
                    {{ form_row(form.parametry) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        {{ form_errors(form.dlugosc) }}
        <div id="map" class="h-100" style="min-height: 450px;"></div>
        {{ form_row(form.dlugosc) }}
        {{ form_row(form.szerokosc) }}
    </div>
</div>
{{ form_end(form) }}

<script>
    $(function () {
        let coords = {
            lat: {{ form.vars.value.szerokosc ?: gmap_default_lat }},
            lng: {{ form.vars.value.dlugosc ?: gmap_default_lon }}
        };
        {% if form.vars.value.szerokosc %}
        let mapEdit = $("#map").initMapNoMarker(coords, 11);
        mapEdit.setMarkers([{position: coords, draggable: true}]);
        mapEdit.markers[0].addListener('dragend', function (e) {
            $("#obiekt_szerokosc").val(e.latLng.lat());
            $("#obiekt_dlugosc").val(e.latLng.lng());
        });
        {% else %}
        let map = $("#map").initMapSingleMarker(coords, 11);
        map.addEventListener('click', function () {
            let coords = this.markers[0];
            $("#obiekt_szerokosc").val(coords.position.lat);
            $("#obiekt_dlugosc").val(coords.position.lng);
        });
        {% endif %}
    });
    $("#obiekt_imgFile").change(function () {
        let reader = new FileReader();
        reader.onload = function (e) {
            $("#image-preview").attr("src", e.target.result);
        }
        reader.readAsDataURL(this.files[0]);
        let fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        $("#image-preview").removeClass("d-none");
    });

    $("select:not(#obiekt_grupa)").each((i, e) => $(e).select2({
        allowClear: false,
        width: '100%',
        dropdownParent: $(e).parent()
    }));
    $("#obiekt_grupa").select2({
        allowClear: true,
        dropdownParent: $("#obiekt_grupa").parent(),
        placeholder: "{{ 'Wybierz.grupe'|trans }}...",
        width: '100%'
    }).change(function () {
        let id = $(this).val();
        let contentElement = $("#obiekt-parametry-content");
        contentElement.html("");
        if (id <= 0) return;
        $.get("{{ path('typ_parametru_ajax') }}", {grupaId: id}, function (response, status) {
            if (status === "success") {
                let formFactor = contentElement.data("prototype");
                $.each(response, function (i, typ) {
                    let label = typ.nazwa + (typ.jednostkaMiary ? " [" + typ.jednostkaMiary + "]" : "");
                    let html = formFactor.replace(/__name__/g, i).replace("__label__", label);
                    if (typ.typDanych === '{{ enum_type }}') {
                        html = html.replace('input', 'select');
                        contentElement.append(html);
                        let element = $("#obiekt_parametry_" + i + "_value");
                        element.select2({
                            allowClear: false,
                            width: '100%',
                            dropdownParent: element.parent(),
                            data: typ.akceptowalneWartosci
                        });
                    } else {
                        contentElement.append(html);
                    }
                    $("#obiekt_parametry_" + i + "_typ").val(typ.typParametrowId);
                });
            }
        });
    });

</script>