{% extends 'base.html.twig' %}

{% block title %}{{ 'Lista.obiektow'|trans }}{% endblock %}
{% block body %}
    <h2 class="mb-3">{{ 'Obiekty'|trans }}</h2>
    <button class="btn btn-primary btn-lg" onclick="Dodaj()"><i class="fas fa-fw fa-plus"></i></button>
    <div class="row mt-3">
        <div class="col-md-4">
            <select id="grupa_obiektow-select" class="form-control" data-placeholder="{{ 'Wybierz.grupe'|trans }}..." data-allow-clear="true">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div id="obiekt-lista" class="mt-4">
        {% include 'obiekt/tabela.html.twig' %}
    </div>

    {% include 'obiekt/modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        $.get("{{ path('grupa_obiektow_ajax') }}", {}, function (response, status) {
            if (status === "success") {
                let data = $.map(response, function (obj) {
                    obj.text = obj.nazwa + " (" + obj.symbol + ")";
                    obj.selected = obj.id === {{ grupaId }};
                    return obj;
                });
                $("#grupa_obiektow-select").select2({data: data});
            }
        });

        $("#grupa_obiektow-select").change(function () {
            Wybierz($(this).val());
        });

        function Dodaj() {
            $.post("{{ path('obiekt_dodaj') }}", {}, function (response, status) {
                if (status === "success") {
                    $("#obiekt-modal-content").html(response);
                    $("#obiekt-modal-title").html("{{ 'Nowy.obiekt'|trans }}")
                    $("#obiekt-modal-zapisz").data("id", 0);
                    $("#obiekt-modal").modal("show");
                }
            });
        }

        function Zapisz(e) {
            let form = $("#obiekt-modal-content").find("form");
            let id = $(e).data("id");
            let url = id > 0 ? "{{ path('obiekt_edytuj', {id: '9999999'}) }}".replace('9999999', id) : "{{ path('obiekt_dodaj') }}"
            $.post(url, form.serialize(), function (response, status) {
                if (status === "success") {
                    if (response !== true) {
                        $("#obiekt-modal-content").html(response);
                    } else {
                        $("#obiekt-modal").modal("hide");
                        Odswiez();
                    }
                }
            });
        }

        function Odswiez() {
            $.get("{{ path('obiekt_index') }}", {grupaId: '{{ grupaId }}'}, function (response, status) {
                if (status === "success") {
                    $("#obiekt-tabela").html(response);
                }
            });
        }

        function Wybierz(id) {
            $.get("{{ path('obiekt_index') }}", {grupaId: id}, function (response, status) {
                if (status === "success") {
                    $("#obiekt-lista").html(response);
                }
            });
        }

    </script>
{% endblock %}
