{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}

{% block title %}{{ 'Lista.obiektow'|trans }}{% endblock %}
{% block body %}
    <h2 class="mb-3">{{ 'Obiekty'|trans }}</h2>
    {% if app.user.grupyObiektow.count > 0 %}
        <button class="btn btn-primary btn-lg" onclick="Dodaj()"><i class="fas fa-fw fa-plus"></i></button>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-success btn-lg float-right" onclick="Mapa()">
            <i class="fas fa-fw fa-lg fa-map-marked-alt"></i>
        </button>
    {% endif %}

    <div class="row mt-3">
        <div class="col-md-4">
            <select id="grupa_obiektow-select" class="form-control" data-placeholder="{{ 'Wybierz.grupe'|trans }}..." data-allow-clear="true">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div id="obiekt-lista" class="mt-4">
        {% include 'obiekt/tabela.ajax.html.twig' %}
    </div>

    {% include 'obiekt/modal.html.twig' %}
    {% include 'obiekt/mapa.modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        $.get("{{ path('grupa_obiektow_ajax') }}", {}, function (response, status) {
            if (status === "success") {
                let data = $.map(response, function (obj) {
                    obj.text = obj.nazwa + " (" + obj.symbol + ")";
                    obj.selected = obj.id === {{ grupaId }};
                    return obj;
                });
                $("#grupa_obiektow-select").select2({data: data});
            }
        });

        $("#grupa_obiektow-select").change(function () {
            Wybierz($(this).val());
        });

        function Dodaj() {
            $.post("{{ path('obiekt_dodaj') }}", {}, function (response, status) {
                if (status === "success") {
                    $("#obiekt-modal-content").html(response);
                    $("#obiekt-modal-title").html("{{ 'Nowy.obiekt'|trans }}")
                    $("#obiekt-modal-zapisz").data("id", 0);
                    $("#obiekt-modal").modal("show");
                }
            });
        }

        function Edytuj(obiekt) {
            $.post("{{ path('obiekt_edytuj', {id: '999999'}) }}".replace('999999', obiekt.id), {}, function (response, status) {
                if (status === "success") {
                    $("#obiekt-modal-content").html(response);
                    $("#obiekt-modal-title").html(`{{ 'Obiekt'|trans }} #${obiekt.symbol}`);
                    $("#obiekt-modal-zapisz").data("id", obiekt.id);
                    $("#obiekt-modal").modal("show");
                }
            });
        }

        function Usun(obiekt) {
            bootbox.confirm({
                centerVertical: true,
                message: `{{ 'Usun.potwierdz'|trans }} #${obiekt.symbol}`,
                callback: function (result) {
                    if (result) {
                        $.post("{{ path('obiekt_usun', {id: '9999999'}) }}".replace('9999999', obiekt.id), {}, function (response, status) {
                            if (status === "success") {
                                if ($("#mapa-modal").hasClass("show")) {
                                    RefreshMap();
                                }
                                Odswiez();
                            }
                        });
                    }
                },
                buttons: {
                    confirm: {
                        label: "{{ 'Tak'|trans }}",
                        className: "btn-danger btn-lg"
                    },
                    cancel: {
                        label: "{{ 'Nie'|trans }}",
                        className: "btn-secondary btn-lg"
                    }
                }
            });
        }

        function Zapisz(e) {
            let form = $("#obiekt-modal-content").find("form");
            let id = $(e).data("id");
            let url = id > 0 ? "{{ path('obiekt_edytuj', {id: '9999999'}) }}".replace('9999999', id) : "{{ path('obiekt_dodaj') }}";
            let data = new FormData(form[0]);
            $.ajax({
                url: url,
                method: "POST",
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response !== true) {
                        $("#obiekt-modal-content").html(response);
                    } else {
                        $("#obiekt-modal").modal("hide");
                        if ($("#mapa-modal").hasClass("show")) {
                            RefreshMap();
                        }
                        Odswiez();
                    }
                }
            });
        }

        function Odswiez() {
            $("#obiekt-tabela").DataTable().ajax.reload();
        }

        function Wybierz(id) {
            $.get("{{ path('obiekt_index') }}", {grupaId: id}, function (response, status) {
                if (status === "success") {
                    $("#obiekt-lista").empty().html(response);
                }
            });
        }

        function PokazZdjecie(id) {
            $.get(`{{ path('obiekt_zdjecie') }}/${id}`).then(r => bootbox.alert({
                message: `<img src="data:${r.mime};base64,${r.content}" alt="zdjecie obiektu" class="img-fluid mx-auto mt-4 d-block" />`,
                size: 'lg'
            }));
        }


        function InitializeMap($mapa, response) {
            let map = $mapa.initMapNoMarker(response.coords, response.zoom);
            $.each(response.obiekty, function (i, obiekt) {
                let marker = new google.maps.Marker({
                    position: {lat: obiekt['szerokosc'], lng: obiekt['dlugosc']},
                    map: map
                });
                let infoWindow = new google.maps.InfoWindow({
                    content: $.jsTemplates.infoWindow(obiekt)
                });
                map.markers.push(marker);
                map.infoWindows.push(infoWindow);
                marker.addListener('click', function () {
                    map.infoWindows.forEach(w => w.close());
                    infoWindow.open(map, marker);
                });
            });
            map.addEventListener('click', function (e) {
                this.infoWindows.forEach(w => w.close());
            });
            let currentRequest = null;
            map.addEventListener('bounds_changed', function (e) {
                if (currentRequest !== null) clearTimeout(currentRequest);
                let bounds = this.getBounds();
                let NECorner = bounds.getNorthEast();
                let SWCorner = bounds.getSouthWest();
                currentRequest = setTimeout(() => MapaUpdate(NECorner, SWCorner, map), 250);
            });
        }


        function MapaUpdate(NECorner, SWCorner, map) {
            $.get("{{ path('obiekty_mapa') }}", {
                NELat: NECorner.lat,
                NELng: NECorner.lng,
                SWLat: SWCorner.lat,
                SWLng: SWCorner.lng
            }, function (response, status) {
                if (status === "success") {
                    map.clearMarkers();
                    $.each(response.obiekty, function (i, obiekt) {
                        let marker = new google.maps.Marker({
                            position: {lat: obiekt['szerokosc'], lng: obiekt['dlugosc']},
                            map: map
                        });
                        let infoWindow = new google.maps.InfoWindow({
                            content: $.jsTemplates.infoWindow(obiekt)
                        });
                        map.markers.push(marker);
                        map.infoWindows.push(infoWindow);
                        marker.addListener('click', function () {
                            map.infoWindows.forEach(w => w.close());
                            infoWindow.open(map, marker);
                        });
                    });
                }

            });
        }



        function Mapa() {
            $.get("{{ path('obiekty_mapa') }}", {}, function (response, status) {
                if (status === "success") {
                    InitializeMap($("#mapa-modal-content"), response);
                    $("#mapa-modal").modal("show");
                }
            });
        }

    </script>
{% endblock %}
