{% trans_default_domain 'App' %}
{% if grupaId > 0 %}
    <div class="card bg-light">
        <div class="card-body">
            <table class="table table-bordered table-responsive-md w-100" id="obiekt-tabela">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>{{ 'Nazwa'|trans }}</th>
                    <th>{{ 'Symbol'|trans }}</th>
                    <th>{{ 'Grupa'|trans }}</th>
                    <th>{{ 'Akcje'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for obiekt in lista %}
                    <tr>
                        <td>{{ loop.index }} </td>
                        <td>{{ obiekt.nazwa }}</td>
                        <td>{{ obiekt.symbol }}</td>
                        <td>{{ obiekt.grupa.nazwa }}</td>
                        <td>
                            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-fw fa-cogs"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)" onclick="Edytuj({{ obiekt.id }})">
                                    <i class="fas fa-fw fa-edit"></i>
                                    {{ 'Edytuj'|trans }}
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="Usun({{ obiekt.id }})">
                                    <i class="fas fa-fw fa-trash"></i>
                                    {{ 'Usun'|trans }}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $("#obiekt-tabela").DataTable();
    </script>
{% else %}
    <div class="alert alert-info">
        <h5>
            <i class="fas fa-fw fa-lg fa-info-circle"></i> {{ 'Prosze.wybrac.grupe'|trans }}
        </h5>
    </div>
{% endif %}
<script>
    {% include 'window.history.pushState.js.twig' %}
</script>