{% trans_default_domain 'App' %}
{% if grupaId > 0 %}
    <div class="card bg-light">
        <div class="card-body">
            <table class="table table-responsive-md table-bordered w-100" id="obiekt-tabela">
                <thead class="thead-dark">
                <tr>
                    <th data-render="ObiektNazwa" class="custom-render" data-key="nazwa">{{ 'Nazwa'|trans }}</th>
                    <th data-key="symbol">{{ 'Symbol'|trans }}</th>
                    {% for typ in typyParametrow %}
                        <th data-key="param{{ loop.index }}">{{ typ.nazwa }} {% if typ.jednostkaMiary %}[{{ typ.jednostkaMiary }}]{% endif %}</th>
                    {% endfor %}
                    <th data-render="ObiektAkcje" data-class="text-center" data-orderable="false" class="custom-render custom-class">{{ 'Akcje'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>
        function ObiektAkcje(row) {
            return '{{ include('obiekt/obiekt.dropdown.html.twig')|e('js') }}'.replace(/"__obiekt__"/g, JSON.stringify(row));
        }

        function ObiektNazwa(row) {
            let html = `<span>${row.nazwa}</span>`;
            if (row.zdjecie != null) {
                html += `<a class="float-right" href="javascript:void(0)" onclick="PokazZdjecie(${row.id})"><i class="fas fa-fw fa-image fa-2x"></i></a>`;
            }
            return html;
        }

        $("#obiekt-tabela").ajaxDataTable('{{ path('obiekt_ajax_lista', {id: grupaId}) }}', () => {
        }).on('xhr.dt', function (e) {
            history.pushState({grupaId: '{{ grupaId }}'}, '', '{{ app.request.uri }}');
        });
    </script>
{% else %}
    <div class="alert alert-info">
        <h5>
            <i class="fas fa-fw fa-lg fa-info-circle"></i> {{ 'Prosze.wybrac.grupe'|trans }}
        </h5>
    </div>
{% endif %}
